@use 'base/variables' as v;

.citas {
    list-style: none;
    padding: 0;
    
    li {
        border-top: 1px solid v.$azul;
        p {
            color: v.$azul;
        }
        span {
            color: v.$blanco;
        }
    }
    
    p.total {
        color: v.$azul;
        span {
            color: v.$blanco;
        }
    }

}

.servicios {
    //directiva de sass para heredar los estilos de .citas
    @extend .citas;

   .acciones {
    margin: 0;
   }

   .boton,
   .boton-eliminar {
    margin: 0.5rem 0rem;
    padding: 1rem;
   }

}
